
  .card{
    margin: 20px auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 800px;
    background: white;
    font-size: 12px;
    display: inline-block;
  }
  .card-header{
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .user-image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .user-name{
    font-weight: bold;
    margin-left: 10px;
  }
  
  .card-content{
    padding: 10px;
  }
  
  hr{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .card-actions{
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .time{
  justify-content: right;
}